.activities-horizontal {
  display: inline-block;
  margin: 0 40px 0 0;
}

.back-to-search{
  margin: 5em 5em 5em
}
.between-text{
  margin: 0em 0em 0em;
}

.btn {
  width: 7.7em;
  height: 2em;
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
}

.button-login {
  width: 6.5em;
  height: 2em;
  margin-top: 5mm;
  margin-bottom: 15mm;
  border-radius: 7px;
}

.button-logout {
  width: 5.5em;
  height: 2em;
  position: absolute;
  right: 10px;
  bottom: 0;
  border-radius: 10px;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 20rem;
  height: 15rem;
  position:relative;
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #ecf1e9;
  border-radius: 10px;
}

.container {
  text-align: center;
}

.delete-button {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 290px;
  border-radius: 5px;
  border-width: 0.05mm;
}

.div {
  position: relative;
}

.div-input-order {
  float: right;
  margin-right: 20px;
}

.errors {
  display: inline-block;
  text-align: left;
  font-size: 17px;
  color: palevioletred;
}

.form {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 13rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #bae99b;
  border-radius: 10px;
}

.gap {
  margin-left: 5mm;
}

.header-buttons {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.input {
  margin:5px;
}

.input-trip{
  border-style: solid;
  border-width: 1px;
  border-radius: 9px;
  height: 30px;
  width: 450px;
  text-align: left;
  margin: 6px;
  font-size: 16px;
  padding-left: 15px;
}

.new-trip-form {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 650px;
  height: 420px;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #bae99b;
  border-radius: 10px;
}

.read-more {
  text-align: center;
  border: rgb(196, 235, 155) solid 1px;
  width: 7rem;
  margin: 0.5rem 28rem 0.5rem;
  box-shadow: 2px 3px #c8f3ad;
  border-radius: 10px;
} 

.trips-page {
  display: grid;
  grid-column-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr;
}

.trip-update {
  width: 5.5rem;
  height: 1.5rem;
  margin-left: 120px;
  margin-top: 20px;
  border-radius: 5px;
  border-width: 0.05mm;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
